ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    font-size: 1.15em;

}
ul li a {
    text-decoration: none;
    color: #333;
    transition: 300ms ease-in;
}

ul li a:hover {
    text-decoration: underline;
}
